<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <!--  To collect diagnostic traces, uncomment the section below or merge with existing system.diagnostics section.
        To persist the traces to storage, update the DiagnosticsConnectionString setting with your storage credentials.
        To avoid performance degradation, remember to disable tracing on production deployments.
  <system.diagnostics>     
    <sharedListeners>
      <add name="AzureLocalStorage" type="SticKartScoresAzureWebRole.AzureLocalStorageTraceListener, SticKartScoresAzureWebRole"/>
    </sharedListeners>
    <sources>
      <source name="System.ServiceModel" switchValue="Verbose, ActivityTracing">
        <listeners>
          <add name="AzureLocalStorage"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="Verbose">
        <listeners>
          <add name="AzureLocalStorage"/>
        </listeners>
      </source>
    </sources> 
   </system.diagnostics> -->
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
    -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element" xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>mf1lQzQudfrUPcVfPmrtT0NJ5RpiPeMZl065lcdBUZ7SDvrQ9qu7u4UmlUo31BSm7/ua62BmhwvLNXm8dAvQQhMgl6O0BORtAUEIWPmAYxDll97tU9KRPb4+QL+dUs/3XN2rb9QgtwObmThf4bVz3R09eSxkh7/b+kxL4uw52KI=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>6wYkixG32AWcu/Qe7PbgkHsZxXlR6XSsD+6ZItQ5IRx+Iuc8ilms3Xf2nJ4xz8rftWOU9lFpoan4051u2k1my5lZrlBzrV/WuY37LNj36b4Vjp4Ku+cRbDnWTZIBvkeyx1p7jMLEE4KQQin7CyGsgTIG1PJ66bbmtMT0x/6uXp4CZaZQBbcYF1tibEAbzs1aHry8c3uN7juPPj9BCESI/7rP2aF06nAgORanIt4icy/89U6oSyajO8gTuyWyAZbpp3noXzpP52zXUojT+8th817zonusy4PVkDUTyQusDnJC6xKNr6wbv3ShJFvh/AyvtMp+98njd+MsLeuICOivC8F7xeErf73U4rFs/EYiWQi8Pjo4A0Yay6MLv3DxJh6qr7Rb4opQ8G5VjoFiY678jYd4yNtytEVdKt2IA/vPYdw5fjEKcfmCKqh1UQIOWx+R3DnO4ziRirVd7BO1agZKCTgiPaYbaGbXvjSobnI4yEUpariU5QcHVkWx5JLWDUQ92X5oOf9EqhOBTRjJBvJTXoSj0X7OoeNNOrWDdwAdE1uv8zGwskbnos+nofpD1wn4qwD3Ntot/8Q6hJA2/WOrMmgEF2i0Opa+zBPpnDfPTCftw1TFI2HbBp8l/3u9Gbxx3P5tqBx0lTU=</CipherValue>
      </CipherData>
    </EncryptedData>
    <add name="SticKartScores_0Entities" connectionString="metadata=res://*/ScoresModel.csdl|res://*/ScoresModel.ssdl|res://*/ScoresModel.msl;provider=System.Data.SqlClient;provider connection string='data source=y7xhafo0x6.database.windows.net;initial catalog=SticKartScores_0;user id=SticKartDBAdmin;password=&quot;1379 FYP Scores&quot;;multipleactiveresultsets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>